
@{
    ViewData["Title"] = "Index";
}

<h1><a asp-controller="user" asp-action="register" style="color:black">Registrieren</a></h1>
<br />

<h1><a asp-controller="user" asp-action="login" style="color:black">Login</a></h1>
<br />