@model Skateshop.Models.User

@{
    ViewData["Title"] = "Register";
}



<form asp-controller="user" asp-action="register" method="post">
    <h2 class="titleRegister" id="register">Registrieren:</h2>

    <div class="registerHalf">
        <ul>
            <li><label asp-for="Firstname" class="labelReg">Vorname *</label></li>
            <li><label asp-for="Lastname" class="labelReg">Nachname *</label></li>
            <li><label asp-for="Email" class="labelReg">Email *</label></li>
            <li><label asp-for="Birthdate" class="labelReg marginbottom10">Geburtstag *</label></li>
        </ul>
    </div>

    <div class="registerHalf">
        <input asp-for="Firstname" class="inputReg" />
        <span asp-validation-for="Firstname" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="Lastname" class="inputReg" />
        <span asp-validation-for="Lastname" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="Email" class="inputReg" />
        <span asp-validation-for="Email" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="Birthdate" type="date" value="" class="inputReg marginbottom10" />
        <span asp-validation-for="Birthdate" class="text-danger" style="font-size:85%"></span><br />
    </div>
    <br />
    <h4 class="titleRegister">Adresse (optional):</h4>

    <div class="registerHalf">
        <ul>
            <li><label asp-for="Street" class="labelReg">Straße</label></li>
            <li><label asp-for="StreetNumber" class="labelReg">Hausnummer</label></li>
            <li><label asp-for="Zipcode" class="labelReg">Postleitzahl</label></li>
            <li><label asp-for="City" class="labelReg">Stadt</label></li>
            <li><label asp-for="State" class="labelReg marginbottom11">Staat</label></li>
        </ul>
    </div>

    <div class="registerHalf">
        <input asp-for="Street" class="inputReg" />
        <span asp-validation-for="Street" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="StreetNumber" class="inputReg" />
        <span asp-validation-for="StreetNumber" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="Zipcode" class="inputReg" />
        <span asp-validation-for="Zipcode" class="text-danger" style="font-size:85%"></span><br />

        <input asp-for="City" class="inputReg" />
        <span asp-validation-for="City" class="text-danger" style="font-size:85%"></span><br />

        <select asp-for="State" class="inputReg marginbottom10">
            <option value="notSpecified">bitte auswählen</option>
            <option value="Österreich">Österreich</option>
            <option value="Deutschland">Deutschland</option>
            <option value="Schweiz">Schweiz</option>
        </select>
        <span asp-validation-for="State" class="text-danger" style="font-size:85%"></span><br />
    </div>

    <input type="submit" value="Registrieren" class="titleRegister"/>
</form>