
@{
    ViewData["Title"] = "Aside";
}

<h4 class="font-weight-bold">Unsere Social-Media Links:</h4>

<div class="social">
    <img class="icon" src="~/media/steamIcon.png"/>
    Steam: <a href="https://steamcommunity.com/id/Astronaut750/">Astronaut750</a>
</div>

<div class="social">
    <img class="icon" src="~/media/twitterIcon.webp" />
    Twitter: <a href="https://twitter.com/astron_at">astron_at</a>
</div>

