
@{
    ViewData["Title"] = "Footer";
}

<div class="container">
    <div class="paymentText">Zahlungsmöglichkeiten bei uns im Shop: </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2"><a href="https://www.paypal.com/at/home"><img id="paypal" class="paymentImage" src="../img/paypal.png" /></a></div>
        <div class="col-lg-2"><a href="https://www.klarna.com/at/"><img class="paymentImage" src="../img/klarna.png" /></a></div>
        <div class="col-lg-2"><a href="https://pay.google.com/"><img class="paymentImage" src="../img/googlepay.png" /></a></div>
        <div class="col-lg-2"><a href="https://www.apple.com/apple-pay/"><img class="paymentImage" src="../img/applepay.png" /></a></div>
        <div class="col-lg-2"><a href="https://bitcoin.org/en/"><img id="bitcoin" class="paymentImage" src="../img/bitcoin.png" /></a></div>
        <div class="col-lg-1"></div>
    </div>
    <div class="paymentTextLinks">Weitere Links: </div>
    <div class="row links rounded-lg">
        <div class="col-lg-4"><a class="rounded-lg" asp-controller="support" asp-action="index">Support &amp; Feedback</a></div>
        <div class="col-lg-4"><a class="rounded-lg" asp-controller="support" asp-action="aboutus">Über uns &amp; Impressum</a></div>
        <div class="col-lg-4"><a class="rounded-lg" asp-controller="support" asp-action="sources">Quellen</a></div>
    </div>
    <br />
    <div class="paymentText">
        &#169; SkateMANIA 2020
    </div>
</div>