/*
    #0B0C10
    #1F2833
    #C5C6C7
    #66FCF1
    #45A29E
*/

header {
    height: 100px;
    background-color: #1f2833;
    width: 1064px;
    margin: auto;
    margin-top: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: visible;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

#brandtext {
    font-size: 34px;
}

.logo {
    background-color: #1f2833;
    margin: 10px;
    float: left;
    border: 2px solid #45a29e;
}

.menu {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 25px;
    width: 220px;
    height: 50px;
    background-color: #1f2833;
    float: left;
    border: 2px solid #45a29e;
}

    .menu:hover, .logo:hover {
        background-color: #101010;
        border-color: #66FCF1;
    }

#skateboardIcon {
    margin: 10px;
    height: 60px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

main {
    min-height: 700px;
    background-color: white;
    border: 5px solid #1f2833;
    margin-top: 10px;
}

footer {
    min-height: 200px;
    background-color: white;
    border: 5px solid #1f2833;
    margin-top: 10px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f2833;
    width: 220px;
    border: 2px solid #45a29e;
    left: -2px;
}

    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #0b0c10;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdowntext {
    text-align: center;
    line-height: 20px;
    padding: 5px;
    font-size: 20px;
}

body {
    background-attachment: fixed;
    position: sticky;
    height: 900px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.paymentImage {
    display: block;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

.paymentText {
    font-size: 20px;
    font-weight: bold;
}

#paypal {
    width: 150px;
}

#bitcoin {
    width: 90px;
}

.links {
    height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .links div a {
        background-color: #1F2833;
        border: 5px solid #1F2833;
    }

.paymentTextLinks {
    margin-top: 150px;
    font-size: 20px;
    font-weight: bold;
}

.registerHalf {
    width: 50%;
    float: left;
    display: inline-block;
    position: relative;
}

.registerHalf ul li {
    display: block;
    text-align: right;
}

.labelReg {
    display: inline-block;
    margin: 3px 3px 5px 0;
}

.inputReg {
    display: inline-block;
    margin-bottom: 2px;
    padding: 1px 2px;
    width: 174px;
}

.titleRegister {
    text-align: center;
}

#register {
    margin-top: 50px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.marginbottom11 {
    margin-bottom: 11px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 10px;
    padding: 10px;
}

.griditem {
    border: 1px solid black;
    height: auto;
    display: grid;
    grid-template-rows: .5fr 5fr .5fr .5fr;
}

.itemImg {
    width: 100%;
    padding: 5px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.source:link, .source:visited {
    font-size: 15px;
    color: black;
}

.itemPrice {
    text-decoration: underline;
}

.itemText {
    font-size: 20px;
    text-align: center;
}

.itemTitle {
    font-size: 30px;
    padding-left: 2px;
    font-weight: bold;
    height: 100%;
}