
@{
    ViewData["Title"] = "Sources";
}

<h1>Quellen und Bilder</h1>
<ul>
    <li>
        <a href="https://www.flaticon.com/free-icon/skateboard_2503754" class="source">Skateboard Icon</a>
    </li>
    <br />
    <h4>Zahlungsmöglichkeiten:</h4>

    <li>
        <a href="https://www.paypal.com/at/home/" class="source">PayPal Icon</a>
    </li>
    <li>
        <a href="https://www.klarna.com/at/" class="source">Klarna Icon</a>
    </li>
    <li>
        <a href="https://www.apple.com/apple-pay/" class="source">Apple Pay Icon</a>
    </li>
    <li>
        <a href="https://www.bitcoin.org/" class="source">Bitcoin Icon</a>
    </li>
    <br />
    <h4>Shop Bilder:</h4>
    <li>
        <a href="https://www.skatedeluxe.com/de/flip-penny-loveshroom-stained-8-13-deck-purple_p135400" class="source">Deck 1</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/sk8dlx-rose-8-25-deck-black_p137799" class="source">Deck 2</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/jart-skateboards-renaissance-ii-weedsuschrist-8-deck-multi_p139405" class="source">Deck 3</a>
    </li>
    <br />
    <li>
        <a href="https://www.skatedeluxe.com/de/tensor-alloys-6-regular-achse-ravv-2er-pack_p135565" class="source">Achse 1</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/tensor-alloys-5-5-regular-achse-black-2er-pack_p133590" class="source">Achse 2</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/tensor-magnesium-light-tens-5-5-all-terrain-achse-silver-2er-pack_p133587" class="source">Achse 3</a>
    </li>
    <br />
    <li>
        <a href="https://www.skatedeluxe.com/de/sk8dlx-retro-conical-rollen-white-yellow-60mm-100a-4er-pack_p136156" class="source">Rollen 1</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/sk8dlx-conical-rollen-black-52mm-100a-4er-pack_p136138" class="source">Rollen 2</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/sk8dlx-e-sport-rollen-white-54mm-100a-4er-pack_p136146" class="source">Rollen 3</a>
    </li>
    <br />
    <li>
        <a href="https://www.skatedeluxe.com/de/bones-bearings-reds-big-balls-kugellager-blue_p129361" class="source">Kugellager 1</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/shake-junt-og-s-abec-7-kugellager-inkl-spacer-gold_p23143" class="source">Kugellager 2</a>
    </li>
    <li>
        <a href="https://www.skatedeluxe.com/de/skf-reds-abec-5-kugellager_p44869" class="source">Kugellager 3</a>
    </li>
</ul>