
@{
    ViewData["Title"] = "Home Page";

}

<div class="container">

</div>

@section Scripts {
    <script scr="https://threejs.org/build/three.js"></script>
    <script src="~/js/HomeIndex.js"></script>
}