@{
    ViewData["Title"] = "Home Page";

}

<div id="homeIndexContainer">
    <canvas id="c"></canvas>

    <div id="buttonGrid">
        <button id="toggleX" class="btn btn-dark">Toggle X cycle</button>
        <button id="toggleY" class="btn btn-dark">Toggle Y cycle</button>
        <button id="toggleZ" class="btn btn-dark">Toggle Z cycle</button>
    </div>
    
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/HomeIndex.css" />
    <!--<script src="~/lib/threeJS/three.js"></script>-->
    <script type="module" src="~/lib/threeJS/GLTFLoader.js"></script>
    <!--<script type="module" src="~/js/HomeIndex.js" defer></script>-->
    <script type="module" src="~/js/SkyboxExample.js" defer></script>
} 