@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
</div>

@section Scripts {
    <script src="~/lib/threeJS/three.js"></script>
    <script type="module" src="~/lib/threeJS/GLTFLoader.js"></script>
    <script type="module" src="~/js/HomeIndex.js" defer></script>
}