
@{
    ViewData["Title"] = "Impressum";
}

<table>
    <thead>
        <tr>
            <td colspan="2">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Philipp Schuler</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>schulerp03@gmail.com</td>
        </tr>
        <tr>
            <td>usw.</td>
            <td>???</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Fußbereich der Tablle</td>
        </tr>
    </tfoot>
</table>