
@{
    ViewData["Title"] = "Impressum";
}

<p style="font-weight:bold">Diese Webseite wird betrieben von:</p>
<p>
    skatemaster GmbH, Kreuzbichlstraße 57, 6112 Wattens, Österreich<br />
    Geschäftsführer: Philipp Schuler
</p>
