@using Skateshop.Models;
@namespace Skateshop.Controllers
@model List<Item>

@{
    ViewData["Title"] = "Index";
}

<div class="gridcontainer">
    @foreach (var item in Model)
    {
        <partial name="ItemView" model="item" />
    }
</div>