@using Skateshop.Models;
@namespace Skateshop.Controllers

@{
    ViewData["Title"] = "Index";
}

<div id="shopGrid" class="gridcontainer">
</div>

@section Scripts {
    <script src="~/js/ShopIndex.js"></script>
} 